<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!DOCTYPE html>
<html> 
<head>     
<title>乙禾保险部门管理软件</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- 引入 Bootstrap -->
      <link href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
      <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
	  <link rel="shortcut icon" href="{% static "pic/yihetop.ico" %}" />
      <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
      <script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</head>
 
      <!-- HTML5 Shim 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
      <!-- 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果 -->
      <!--[if lt IE 9]>
         <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
         <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->

</head>
	<body>

 
		<!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) -->
      	<script src="https://code.jquery.com/jquery.js"></script>
      	<!-- 包括所有已编译的插件 -->
      	<script src="js/bootstrap.min.js"></script>



<div class="container" style="width: 90%">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="jumbotron">
				<h1>
					退出成功!
				</h1>
            <br><br>
				<p>
					 <a class="btn btn-primary btn-large" href="/login/">登陆</a>
				</p>
			</div>
		</div>
	</div>
</div>
	</body>
</html>