{% extends 'base.html' %}

{% block content %}
<div class="container" style="width: 90%">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <h3 class="text-center">
               <strong>业务账号管理</strong>
            </h3><br>
            <form method = 'post' enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row clearfix">
               <div class="col-md-12 column">
                  <div class="panel panel-info"><!-- 账号 -->
                     <div class="panel-heading">
                        <span><label>账号：{{ list_account.username }}</label></span>&nbsp;
                        <a href="{% url 'adm_user_manage_passwd' list_account.id %}" ><button class="btn btn-primary" type="button">修改密码</button></a>
                        <input class="btn btn-primary" type="button" style="background-color:#D9534F;border-color:white" value="删除" onclick="DelUser('{% url 'adm_account_delete' list_account.id %}')">
                        <!--<a href="{% url 'adm_account_delete' list_account.id %}">
                        <button class="btn btn-primary" type="button">删除账号</button></a>-->
                       
                     </div>
                     <div class="panel-body">
                        <div class="col-md-6 column">
                           <div class="form-group">
                               <label class="col-sm-4 control-label" for="loan_id">{{ form.first_name.label }}</label>
                              <div class="col-sm-7">
                                 {{ form.first_name }}
                                 {{ form.first_name.errors }}
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6 column">
                           <div class="form-group">
                               <label class="col-sm-4 control-label" for="borrower">{{ form.email.label }}</label>
                              <div class="col-sm-7">
                                 {{ form.email }}
                                 {{ form.email.errors }}
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="panel-body">
                        <div class="col-md-6 column">
                           <div class="form-group">
                               <label class="col-sm-4 control-label" for="loan_id">{{ form.competence.label }}</label>
                              <div class="col-sm-7">
                                 {{ form.competence }}
                                 {{ form.competence.errors }}
                              </div>
                           </div>
                        </div>
                        
                     </div>
                  </div>
                  <center>
                     <div class="control-group">
                        <div class="controls">
                           <input type="submit" class="btn btn-primary" value="保存">
                           
                           <button class="btn btn-primary" type="button" onclick="javascript:window.history.go(-1);" >返回</button>
                        </div>
                     </div>
                  </center>
               </div>
            </div>
         </form>
      </div>
   </div>
</div>
<br>
<script>
//删除账号
function DelUser(url){
	if(window.confirm('是否确定删除该账号？')){
		$.get(url, 
			function(data){
				alert(data); 
				location.href = "{% url 'adm_accounts' %}";
			}
		);
	}else{
		return false;
	} 
}
</script>
{% endblock %}