{% extends 'base.html' %}
{% block content %}
<div class="container" style="width: 90%">
    <div class="row clearfix">
        <div class="col-md-12 column">
         <h3 class="text-center">
            <strong>新建业务帐号</strong>
         </h3><br>
         <div class="row clearfix">
            <div class="col-md-12 column">
               <div class="panel panel-info">
                  <div class="panel-heading">
                     <span><label>用户信息</label></span>
                  </div>
                  <div class="panel-body">
                     <form class="form-horizontal" role="form" method='post'>
                     {% csrf_token %}
                        <div class="col-md-6 column">
                           <div class="form-group">
                               <label class="col-sm-4 control-label" for="loan_id">{{ form.username.label }}</label>
                              <div class="col-sm-7">
                                 {{ form.username }}
                                 {{ form.username.errors }}
                              </div>
                           </div>
                           <div class="form-group">
                               <label class="col-sm-4 control-label" for="loan_id">{{ form.first_name.label }}</label>
                              <div class="col-sm-7">
                                 {{ form.first_name }}
                                 {{ form.first_name.errors }}
                              </div>
                           </div>
                          
                        </div>
                        <div class="col-md-6 column">
                           <div class="form-group">
                               <label class="col-sm-4 control-label" for="amount">{{ form.password.label }}</label>
                              <div class="col-sm-7">
                                 {{ form.password }}
                                 {{ form.password.errors }}
                              </div>
                           </div>
                           <div class="form-group">
                               <label class="col-sm-4 control-label" for="loan_id">{{ form.email.label }}</label>
                              <div class="col-sm-7">
                                 {{ form.email }}
                                 {{ form.email.errors }}
                              </div>
                           </div>
                        </div>
                       <div class="col-md-6 column">
                        <div class="form-group">
                           <label class="col-sm-4 control-label" for="borrower">{{ form.management.label}}</label>
                           <div class="col-sm-7">
                              {{ form.management }}
                             {{ error.management}}
                           </div>
                        </div>
                     </div>
                     <div class="col-md-6 column">
                        <div class="form-group">
                           <label class="col-sm-4 control-label" for="borrower">{{ form.insurance.label}}</label>
                           <div class="col-sm-7">
                              {{ form.insurance }}
                             {{ error.insurance }}
                           </div>
                        </div>
                     </div>
                     <div class="col-md-6 column">
                        <div class="form-group">
                           <label class="col-sm-4 control-label" for="borrower">{{ form.business.label}}</label>
                           <div class="col-sm-7">
                              {{ form.business }}
                              {{ error.business }}
                           </div>
                        </div>
                     </div>
                     <div class="col-md-6 column">
                        <div class="form-group">
                           <label class="col-sm-4 control-label" for="borrower">{{ form.financing.label}}</label>
                           <div class="col-sm-7">
                              {{ form.financing }}
                              {{ error.financing}}
                           </div>
                        </div>
                     </div>
                  </div>
                   >
               </div>
                  </div>
               </div>
               <center>
                  <div class="control-group">
                     <div class="controls">
                        <input type="submit" class="btn btn-primary" value="创建">
                        
                        <button class="btn btn-primary" type="button" onclick="javascript:window.history.go(-1);" >返回</button>
                     </div>
                  </div>
               </center>
               </form>
            </div>
         </div>
      </div>
   </div>
</div>
<br>
{% endblock %}